* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.me-2 {
  margin-right: 16px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-35 {
  margin-bottom: 35px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}